parameters:
    level: 5
    paths:
        - src/pocketmine/core
        - src/pocketmine/adapter
        - src/pocketmine/port
        - src/pocketmine/api
        - src/pocketmine/protocol
        - src/pocketmine/utils/Binary.php
        - src/pocketmine/utils/BinaryStream.php
        - src/pocketmine/utils/TextFormat.php
        - src/pocketmine/utils/Utils.php
        - src/pocketmine/utils/UUID.php
        - src/pocketmine/utils/Random.php
        - src/pocketmine/utils/EnumTrait.php
        - src/pocketmine/utils/Range.php
        - src/pocketmine/utils/ReversePriorityQueue.php
        - src/pocketmine/utils/ChunkException.php
        - src/pocketmine/utils/LevelException.php
        - src/pocketmine/utils/ServerException.php
        - src/pocketmine/utils/Terminal.php
        - src/pocketmine/utils/Process.php
        - src/pocketmine/utils/Git.php
        - src/pocketmine/utils/SingletonTrait.php
        - src/pocketmine/utils/Optional.php
        - src/pocketmine/utils/Patchable.php
        - src/pocketmine/utils/MonkeyPatch.php
        - src/pocketmine/utils/Stream.php
        - src/pocketmine/utils/Color.php
    excludes_analyse:
        - src/pocketmine/legacy/*
        - src/pocketmine/old-src/*
    ignoreErrors:
        - '#^Access to an undefined property#'
        - '#^Call to an undefined method#'
        - '#^Property .* is never read, only written#'
        - '#^Constant .* is unused#'
        - '#^Left side of && is always true#'
        - '#^If condition is always true#'
        - '#^Comparison operation .* is always false#'
        - '#^Unreachable statement#'
        - '#^Expression on left side of \?\? is not nullable#'
        - '#^Offset .* in isset\(\) does not exist#'
        - '#^Variable \$parts in empty\(\) always exists and is not falsy#'
        - '#^Variable \$verified might not be defined#'
        - '#^Variable \$index might not be defined#'
        - '#^Constructor of class .* has an unused parameter#'
        - '#passed by reference#'
    checkMissingIterableValueType: false
    phpVersion: 80200
    parallel:
        maximumNumberOfProcesses: 1
        minimumNumberOfJobsPerProcess: 1000000
